body {
	background-color: #000;
	font-size: 18px;
	color: #fff;
	font-family: 'Arial';
}
.navbar {
	background-color: #000;
	border-bottom: 1px solid #fff;
}
.page-header {
	font-family: 'Arial';;
	text-align: center;
	border: none;
}
.menu {
	color: #fff;
	font-family: 'Josefin Sans';
	font-weight: bold;
	font-size: 28px;
	margin-top: 40px;
	float: left;
	background-color: #000;
}
.view-apprentice-blog a {
	text-decoration: none;
	font-family: 'Arial';
	font-weight: bold;
}
.view-apprentice-blog a:hover {
	text-decoration: underline;
}
.view-apprentice-blog p {
	font-family: 'Arial';
	font-weight: none;
	font-size: 20px;
}
.views-challenge-style {
	text-align: left;
}
.navbar-collapse .navbar-nav > li > a {
	color: #fff;
	background: transparent;
}
.navbar-collapse .navbar-nav > li > a:hover  {
	color: #c2c2c2;
	text-decoration: underline;
	border-radius: 25%;
}
.navbar-collapse .navbar-nav > .active > a {
	color: #fff;
	text-decoration: underline;
	background: transparent;
}
.navbar-collapse .navbar-nav > .active > a:hover {
	color: #c2c2c2;
	background: transparent;
}
.navbar-header {
	float: left;
}
.view-header {
	text-align: center;
	font-family: 'Arial';
	font-weight: bold;
	font-size: 18px;
}
.field-name-field-content-paragraph-content {
	width: 70%;
	margin: 0 auto;
	padding: 300px;
}
.view-videos .views-field-title {
	text-align: center;
}
iframe {
	border: 1px solid #fff;
}
.node-page {
	width: 70%;
	margin: 0 auto;
}
.node-blog-post {
	width: 70%;
	margin: 0 auto;
}
.webform-client-form {
	width: 70%;
	margin: 0 auto;
}
.views-field-field-video-url {
	max-width: 1280px;
	margin: 0 auto;
	padding: 50px;
}
.region-sidebar-second {
	margin-top: 100px;
	margin-right: 25px;
	border: 1px solid #fff;
}
.recentblog {
	padding: 5px;
	font-size: 14px;
}
.recentblog .views-row {
	padding-bottom: 10px;
	border-bottom: 1px dashed #fff;
}
.block-views .block-title {
	text-align: center;
}

.field-name-field-content-paragraph-content {
	margin: 0 auto;
	text-align: center;
}


@media (max-width: 400px) {

}

@media (max-width: 800px) {

}